[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypackage = {file = "vendor/mypackage"}
flask = "*"
gunicorn = {extras = ["gevent"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10.13"
